.product-page-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.product-page-container {
  padding: 0;
}

.product-page-breadcrumb {
  font-size: 14px;
  position: absolute;
  top: 95px;
}

.product-page-content {
  display: flex;
}
