header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
}

.header_left {
  font-weight: 600;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.redseam_logo {
  margin: 0 5px 5px 0;
}

.header_right {
  display: flex;
  align-items: center;
}

.shoping_cart {
  cursor: pointer;
}

.profile_img {
  border-radius: 50%;
  object-fit: cover;
  margin-left: 19px;
}
