.custom-dropdown-menu {
  min-width: 320px;
}

.custom-brand {
  cursor: pointer;
}

.controllers-container {
  margin-bottom: 30px;
}

.controllers-title {
  font-weight: 600 !important;
}

.controllers-filter-dropdown {
  width: 392px !important;
  height: 150px !important;
  padding: 8px 15px !important;
}

.controllers-filter-label {
  font-weight: bold !important;
  margin-bottom: 20px !important;
}

.controllers-apply-container {
  display: flex !important;
  justify-content: flex-end !important;
}

.controllers-apply-btn {
  background-color: #ff4000 !important;
  border: none !important;
  padding: 9px 39px !important;
  border-radius: 9px !important;
}

.controllers-sort-dropdown {
  width: 200px !important;
  height: 180px !important;
  padding-top: 14px !important;
}

.controllers-sort-header {
  margin: 0 0 9px 15px !important;
}

.controllers-sort-item {
  margin-bottom: 9px !important;
}
