.custom-pagination .page-link {
  color: #ff5733;
  background-color: #ff5733;
}

.custom-pagination .page-link {
  /* background-color: #ff5733; */
  border-color: grey;
  color: grey;
  border-radius: 5px;
}
